%head
  %title idea box edit
    %body


<html>
  <head>
    <title>idea box edit</title>
  </head>
  <body>
    
    <center><h1><font face="helvetica" font size="5">edit your idea here.</font></h1></center>
    <%= erb :form, locals: {idea: idea, id: idea.id} %>
  </body>
</html>
